<cupcake-enduser-header></cupcake-enduser-header>
<div class="enduserdashboard">
    <div class="container-fluid enduserdashboard">
        <div class="row">
            <main role="main" class="col-sm-12 ml-sm-auto col-md-12 pt-3">
                <!-- /.row -->
                <cupcake-maps-end-user-view></cupcake-maps-end-user-view>
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Your Service Requests</h3>
                        <cupcake-servicerequestorder></cupcake-servicerequestorder>
                        <div class="clearfix">&nbsp;</div>
                        <h3>Notifications</h3>
                        <cupcake-notifications></cupcake-notifications>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="clearfix">&nbsp;</div>
                        <cupcake-carousel></cupcake-carousel>
                        <div class="clearfix">&nbsp;</div>
                        <!-- <h3>Our Services</h3>
                        <cupcake-our-services></cupcake-our-services> -->
                    </div>
                    <!-- /.col-lg-4 -->

                </div>
            </main>
        </div>
    </div>
</div>
