<div class="card-deck">
  <div class="card bg-success text-white">
    <div class="card-body">
      <h4 class="card-title">
        <i class="fa fa-comments fa-sm"></i> Comments
        <p class="card-text text-right">5/7</p>
      </h4>
    </div>
    <div class="card-footer">
      <small class="text-white">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card bg-danger text-white">
    <div class="card-body">
      <h4 class="card-title text-white">
        <i class="fa fa-tasks fa-sm"></i> Tasks!
        <p class="card-text text-right">1/7</p>
      </h4>
    </div>
    <div class="card-footer">
      <small class="text-white">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card bg-warning text-white">
    <div class="card-body">
      <h4 class="card-title">
        <i class="fa fa-shopping-cart fa-sm"></i> Orders!
        <p class="card-text text-right">2/7</p>
      </h4>
    </div>
    <div class="card-footer">
      <small class="text-white">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card bg-info text-white">
    <div class="card-body">
      <h4 class="card-title text-white">
        <i class="fa fa-support fa-sm"></i> Support Tickets
        <p class="card-text text-right">6/7</p>
      </h4>
    </div>
    <div class="card-footer">
      <small class="text-white">Last updated 3 mins ago</small>
    </div>
  </div>
</div>