<nav class="navbar navbar-expand-lg navbar-light bg-faded">
  <div class="" style="display:inline-block; width:50%;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand">
      <img class="navbar-logo" src="assets/shared/logo.png" alt="logo" />
    </a>
  </div>
  <div class="" style="display:inline-block; width:50%;">
    <div class="right-section">
      <div class="btn-group d-none d-lg-block">
        <div class="input-group">
          <input class="form-control" placeholder="Search here">
          <a><i class="fa fa-search"></i></a>
        </div>
      </div>
      <div class="btn-group" dropdown>
        <i class="fa fa-bell-o" aria-hidden="true" dropdownToggle></i>
        <span class="badge badge-notify">3</span>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem">
            <a class="dropdown-item" href="#">Action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Another action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#/login">Login</a>
          </li>
        </ul>
      </div>
      <div class="btn-group" dropdown>
        <i class="fa fa-cog" aria-hidden="true" dropdownToggle></i>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem">
            <a class="dropdown-item" href="#">Action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Another action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#/login">Login</a>
          </li>
        </ul>
      </div>
      <div class="btn-group" dropdown>
        <i class="fa fa-user-circle-o" aria-hidden="true" dropdownToggle></i>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem">
            <a class="dropdown-item" (click)="techProfile()">Profile</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Change Password</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="navbarNavDropdown" class="" [collapse]="!isCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['scheduler']" [routerLinkActive]="['active']">
          <i aria-hidden="true" class="fa fa-calendar"></i> My Schedule
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['maps']" [routerLinkActive]="['active']">
          <i class="fa fa-map-marker" aria-hidden="true"></i> Maps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i class="fa fa-commenting-o" aria-hidden="true"></i> Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i class="fa fa-truck" aria-hidden="true"></i> Truck inventry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i aria-hidden="true" class="fa fa-calendar"></i> My Request</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i aria-hidden="true" class="fa fa-plus"></i> New WorkOrder
        </a>
      </li>
    </ul>
  </div>
</nav>
