
    <!-- <ul class="nav nav-pills flex-column">
        <li class="profile-userpic">
            <img alt="user-imag" class="rounded-circle" 
            src="../assets/shared/user-image.png" style="width:100px; height:100px">                  
        </li>
        <li class="nav-item">
          <a class="nav-link active"> <i aria-hidden="true" class="fa fa-calendar"></i> New Request <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"> <i class="fa fa-map-marker" aria-hidden="true"></i> Work Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"> <i class="fa fa-history" aria-hidden="true"></i> History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="fa fa-heartbeat" aria-hidden="true"></i> Pool Health</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link"  routerLink="/login">
            <i aria-hidden="true" class="fa fa-sign-out"></i> Logout
          </a>
        </li>
      </ul> -->
  
  