#map path.route.active {
  stroke-opacity: 1;
  stroke-width: 7px;
}

#map path.route.route_0 {
  stroke: #7676f9;
}

#map path.route.route_1 {
  stroke: #ff449c;
}

#map path.route.route_2 {
  stroke: #00d7cf;
}
