<div class="" style="background:#ececec; padding :10px; max-height :400px;">
    <div class="card border-default ">
        <div class="card-header bg-default">
            <i class="fa fa-tasks fa-lg"></i> SR #00001212343545
            <!-- <span class="pull-right btn-xs btn-primary"> #00001212343545</span> -->
        </div>
        <!-- /.panel-heading -->
        <div class="card-body">
            <div class="stepwizard">
                <div class="stepwizard-row">
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-success btn-circle">1</button>
                        <p>Request Received</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-success btn-circle">2</button>
                        <p>Payment</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-success btn-circle" disabled="disabled">3</button>
                        <p>Technician scheduled</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-warning btn-circle" disabled="disabled">4</button>
                        <p>Work inprogress</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle" disabled="disabled">5</button>
                        <p>Task Completed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="card border-default ">
        <div class="card-header bg-default">
            <i class="fa fa-tasks fa-lg"></i> SR #00001212003545
            <!-- <span class="pull-right btn-xs btn-primary"> #00001212003545</span> -->
        </div>
        <!-- /.panel-heading -->
        <div class="card-body">
            <div class="stepwizard">
                <div class="stepwizard-row">
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle">1</button>
                        <p>Cart</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-primary btn-circle">2</button>
                        <p>Shipping</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
                        <p>Technician scheduled</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle" disabled="disabled">4</button>
                        <p>Work Inprogress</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle" disabled="disabled">5</button>
                        <p>Payment</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>  
</div>