<div class="card border-secondary">
  <!-- /.panel-heading -->
  <div class="card-body">
    <div class="row">
      <!-- <div class="col text-center card-item">
        <i class="fa fa-recycle" aria-hidden="true"></i>
        <h6 class="text-weight-strong">
          LAUNDRY
        </h6>
      </div> -->
      <div class="col text-center">
        <i class="fa fa-tint" aria-hidden="true"></i>
        <h6 class="text-weight-strong">
          PLUMBING
        </h6>
      </div>
      <div class="col text-center">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <h6 class="text-weight-strong">
          CARPENTRY
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <i class="fa fa-ship" aria-hidden="true"></i>
        <h6 class="text-weight-strong">
          POOL
        </h6>
      </div>
      <div class="col text-center">
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <h6 class="text-weight-strong">
          ELECTRICAL
        </h6>
      </div>
      <div class="col text-center">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <h6 class="text-weight-strong">
          CLEANING
        </h6>
      </div>
    </div>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->