<cupcake-tech-header></cupcake-tech-header>
<div class="tech-dashboard">
  <div class="container-fluid">
    <div class="row">
      <cupcake-techcards class="col-sm-12 col-md-12"></cupcake-techcards>
    </div>
    <div class="row">
      <cupcake-tech-sidebar class="d-none d-sm-none d-md-block col-sm-12 col-md-12"></cupcake-tech-sidebar>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <br/>
        <!-- <h2>My Schedule</h2> -->
        <!--Starts Calendar section -->
        <!-- <cupcake-tech-schedule></cupcake-tech-schedule> -->
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="row">
        <cupcake-tech-sidebar class="d-block d-sm-block d-md-none col-sm-12 col-md-12 m-sidebar"></cupcake-tech-sidebar>
      </div>
  </div>
</div>
