<div class="container">
  <div class="text-center" style="margin-top:20px;">
    <img src="assets/shared/logo.png" alt="logo" />
  </div>
  <div class="login">
    <div class="clearfix">&nbsp;</div>
    <div class="row row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !username.valid }">
            <!-- <label for="username">Username</label> -->
            <input type="text" class="form-control is-invalid" name="username" [(ngModel)]="model.username" #username="ngModel" required
              placeholder="Email" />
            <div *ngIf="f.submitted && !username.valid" class="invalid-feedback">Username is required</div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary col-sm-12">Reset Password</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
          </div>
        </form>
      </div>
      <br/>
    </div>
    <div class="row row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
        <ul class="list-none">
          <li class="li-padding">
            <a class="icoGoogle" title="Google +"> 469-555-1234
            </a>
          </li>
          <li class="li-padding">
            <a class="icoGoogle" title="Google +">
              <span>Service@hauk.com</span>
            </a>
          </li>
          <li class="li-padding">
            <a class="icoGoogle" title="Google +">
              <span>
                <span>Chat with Customer Support</span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>